@model MackPortfolio.DAL.Interfaces.Models.ActivityViewModel

@{
    //var pg = (string)ViewBag.page;
    var pg = (Model.Id == Guid.Empty) ? "Create" : "Edit";
    ViewBag.Title = pg + " Article";
}
@section styles{
    <style type="text/css">
        footer {
            color: rgb(180,180,180);
        }

        #main {
            background-color: rgb(100,100,100);
            background-image: url(@Url.Content("~/Content/images/lt-linen.png"));
            background-repeat: repeat;
            background-position: center;
        }
    </style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
}


<div class="row" id="ActivityPage">
    <div class="large-12 columns">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm(pg, "Activity", FormMethod.Post, new { enctype = "multipart/form-data", @class = "panel custom css-box-shadow" }))
        {
            @Html.AntiForgeryToken()

            <fieldset class="custom">
                <legend>@pg</legend>
                @Html.ValidationSummary(true)
                @if (pg == "Edit")
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Created)
                    @Html.HiddenFor(m => m.Modified)
                    @Html.HiddenFor(m => m.IsActive)
                }

                <div class="row">
                    <div class="medium-6 columns">
                        <div class="form-group">
                            @Html.EditorFor(model => model.HostBy)
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.EventDate)
                        </div>
                        <div class="form-group">
                            @Html.Partial("_location", Model)
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="row">
                            <div class="large-6 columns">
                                @Html.EditorFor(model => model.HostPhone)
                            </div>
                            <div class="large-6 columns">
                                @Html.EditorFor(model => model.HostEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ImageUrl)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        @Html.EditorFor(model => model.Title)
                    </div>
                    <div class="medium-6 columns">
                        @Html.EditorFor(model => model.Summary)
                    </div>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.BodyHtml)
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="submit" value="Submit" class="button" />
                    </div>
                </div>
            </fieldset>
        }

        <section class="text-right">
            @if (pg == "Edit")
            {
                @Html.ActionLink("Article Details", "Details", new { id = Model.Id, page = "Details", urlparam = Model.UrlParameter }, new { @class = "button radius css-gradient3d-w2bv css-box-shadow" })
            }
            @Html.ActionLink("Back to Main Page", "Index", null, new { @class = "button radius css-gradient3d-w2bv css-box-shadow" })
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/libs/jqueryval")
<script src="@Url.Content("~/Scripts/site/views/activity.js")"></script>
}
